.admin-input-holder {
    padding: 0 0 20px;
}

.admin-input-holder label {
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    margin: 0 0 7px;
}

.admin-input-holder input,
.admin-input-holder textarea {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    font-size: 14px;
    height: 40px;
}

.admin-input-holder textarea {
    height: 200px;
}