.cn-addon {
    font-family: 'Roboto', Arial, sans-serif;
}

.cn-addon a {
    display: flex;
    padding: 20px 10px;
    color: #fff;
    overflow: hidden;
    text-decoration: none;
    font-size: 12px;
}

.cn-addon .cn-col {
    width: 50%;
    padding: 0 10px;
}

.cn-addon h3 {
    font-size: 17px;
    margin: 0 0 7px;
    text-transform: uppercase;
    font-weight: 700;
}

.cn-addon .cn-bottom-box {
    font-size: 10px;
    opacity: 0.65;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cn-addon .cn-bottom-box span {
    display: block;
    text-align: right;
}

@media only screen and (max-width: 640px) {
    .cn-addon a {
        flex-wrap: wrap;
    }

    .cn-addon .cn-col {
        width: 100%;
        padding: 10px;
    }
}